.todoApp {
  margin: 0;
  padding: 0;
}

/* TodoItem */
.todoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.todoItem {
  width: 250px;
  height: 100%;
  padding: 0 1em 1em 1em;
  margin: 10px;
  border-radius: 25px;
  background-color: chartreuse;
}

.finished {
  background-color: lightgray;
}

.todoItemTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todoItemTitle > .title{
  display: flex;
  flex-direction: row;
}

.todoItemTitle > .delete{
  cursor: pointer;
}

/* TodoForm */
.todoForm {
  margin: 10px;
}