.todoApp {
  margin: 0;
  padding: 0;
}

/* TodoItem */
.todoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.todoItem {
  width: 250px;
  height: 100%;
  padding: 1em 1em 1em 1em;
  margin: 10px;
  border-radius: 25px;
  background-color: chartreuse;
}

.finished {
  background-color: lightgray;
}

.todoItemTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todoItemTitle > .title{ 
  display: flex;
  flex-direction: row;
  font-size: 22px;
  font-weight: 500;
}

.todoItemTitle > .update {
  background: none;
  border: none;
}

.todoItemContents > .contents {
  font-size: 15px;
  padding-top: 0.8em;
}

.todoItemTitle > .delete{
  cursor: pointer;
}

.todoItemButton {
  display: flex;
  flex-direction: row;
}

.todoItemButton > .button {
  padding-left: 10px;
}

/* TodoForm */

.todoForm {
  margin: 10px;
}

/* TodoUpdateForm */

.form {
  background: none;
  border: none;
  width: 100%;
}