.todoItemContainer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
.todoItemContainer.black {
  background-color: black;
  color: white;
}
.todoItemContainer.finished {
  background-color: lightgray;
  color: gray;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.todoTitleWrapper {
  display: flex;
  font-size: 30px;
  font-weight: 500;
}
.todoCompleted {
  margin: 0;
}
.todoButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45px;
  font-size: 20px;
}
.todoTitle {
  padding-left: 5px;
}
.todoContents {
  padding-top: 10px;
}
.bottomWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.todoDate {
  font-size: 9px;
}
