.todoFormContainer {
  padding: 0 10px 0 10px;
}
.todoForm {
  display: flex;
  flex-direction: column;
}
.todoMoodWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  align-items: center;
  justify-items: center;
}
.todoMood {
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
.todoMood.checked {
  background-color: black;
}
.todoMood:hover {
  cursor: pointer;
}
.formInput {
  border: none;
  font-size: 15px;
  padding: 10px;
  margin: 5px 0 10px 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}
.formButton {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0 10px 0;
  padding: 12px 0;
  border-radius: 10px;
}
